# don't let git decide which line-ending to check out with
* -text eol=lf

# Unix-Newlines required
Dockerfile text eol=lf
*.sh       text eol=lf
*.pem      -text

# Windows-Newlines required
*.bat      text eol=crlf
*.ps1      text eol=crlf
