# Root config file
config.stopBubbling = true

# Configure behavior
lombok.accessors.chain = false
lombok.log.fieldName = LOG
lombok.addNullAnnotations = checkerframework

# other stuff
lombok.addJavaxGeneratedAnnotation = true
lombok.addLombokGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
lombok.anyconstructor.addconstructorproperties = true
